@font-face {
  font-family: magnoliaScript;
  src: url("../../assets/fonts/magnolia-script.regular.otf");
}

.answer_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  flex-direction: column;
}

#question {
  font-size: 30px;
  opacity: 0.5;
  font-style: italic;
}

#answer {
  font-style: normal;
  font-size: 45px;
  margin-top: 20px;
  width: 1000px;
  text-align: center;
}
